{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3 class="bought">History</h3>
    <h1>Portfolio</h1>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>

            {% for stock in rows %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.transacted }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

{% endblock %}
