{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <select name="symbol">
            <option name="symbol" selected disabled>Symbol</option>
            {% for symbol in symbols %}
                <option name="symbol">{{symbol["symbol"]}}</option>
            {% endfor %}
        </select>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
